<div class="flex justify-content-between align-items-center mb-4">

  <h3>
    <i *ngIf="icon" [class]="icon"></i>
    {{ title }}
  </h3>

  <div class="flex gap-3 align-items-center">

      <span class="p-input-icon-left">
        <div class="flex relative">
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                  pInputText
                  [(ngModel)]="search"
                  (keyup.enter)="onSearch.emit(search)"
                  type="text"
                  placeholder="Pesquisar..."
                />
            </p-iconfield>

            <div class="filter-icon-container" *ngIf="showAdvancedFilters">
                <i class="pi pi-filter filter-icon" (mouseenter)="showFilterLabel = true" (mouseleave)="showFilterLabel = false" (click)="onFilterClick.emit()"></i>
                <span class="filter-label" [class.visible]="showFilterLabel">Abrir filtros avançados</span>
            </div>

        </div>
      </span>

    <p-button
      icon="pi pi-plus"
      severity="success"
      [rounded]="true"
      (onClick)="onNewClick.emit()"
      label="Novo"
      data-testid="botao_novo">
    </p-button>

  </div>

</div>
