<p-card>
  <search-bar title="Usuários" (onNewClick)="clickNew()" (onSearch)="onSearch($event)"/>

  <data-table [page]="page" (onPageChange)="loadData($event)">

    <column field="nome" header="Nome"/>
    <column field="usuario" header="Usuário"/>
    <column field="primeiroAcessoRealizado" header="Primeiro Acesso Realizado">
      <ng-template #body let-content>
        {{content.primeiroAcessoRealizado ? 'Sim' : 'Não'}}
      </ng-template>
    </column>

    <column [style]="{ 'width': '100px' }">

      <ng-template #body let-content>

        <div class="flex gap-2">

          <button
            pButton
            (click)="edit(content)"
            icon="pi pi-pencil"
            class="p-button-text p-button-rounded">
          </button>

          <button
            pButton
            (click)="delete(content)"
            icon="pi pi-trash"
            class="p-button-text p-button-rounded p-button-danger">
          </button>
        </div>

      </ng-template>

    </column>

  </data-table>

</p-card>

<usuario-form [isVisibleChange]="formVisibleChange" (onSave)="onSave()"/>

<p-confirmDialog />

