<div class="image-upload" [style]="styleImage">

  @if (!croppedImage) {

    <div class="upload-placeholder" (click)="triggerFileInput()" [style]="roundedStyle">
      <i class="pi pi-camera"></i>
      <span>Adicionar Foto</span>
    </div>

  } @else {

    <div class="image-preview">
      <button class="delete-button" (click)="deleteImage($event)">
        <i class="pi pi-times"></i>
      </button>
      <img [src]="croppedImage" alt="Preview" (click)="triggerFileInput()"/>
    </div>

  }

  <input type="file" #fileInput class="file-input" (change)="fileChangeEvent($event)"
         accept="image/jpeg,image/png"/>

</div>

