<modal *ngIf="isVisible" title="Cadastro de Usuários" [(visible)]="isVisible" (onHide)="closeForm()">
  <p-card [style]="{width: '50vw'}">
    <div [formGroup]="form">

      <div class="flex flex-column col-12 gap-3">
        <div class="flex flex-row">
          <div class="flex flex-column gap-2 col-8">
            <label for="nome">Nome <span style="color: red">*</span></label>
            <input pInputText id="nome" formControlName="nome" formValidateMessage maxlength="100"/>
          </div>

          <div class="flex flex-column gap-2 col-4">
            <label for="primeiroAcessoRealizado">Primeiro Acesso Realizado</label>
            <p-checkbox formControlName="primeiroAcessoRealizado"
                        inputId="primeiroAcessoRealizado"
                        id="primeiroAcessoRealizado"
                        [binary]="true"/>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex flex-column gap-2 col-12">
            <label for="usuario">Usuário <span style="color: red">*</span></label>
            <input pInputText
                   id="usuario"
                   formControlName="usuario"
                   formValidateMessage
                   maxlength="255"/>
          </div>
        </div>

        <div *ngIf="!form.get('primeiroAcessoRealizado')?.value" class="flex flex-row">
          <div class="flex flex-column gap-2 col-12">
            <label for="nome">Senha Inicial <span style="color: red">*</span></label>
            <p-password formControlName="senha" [toggleMask]="true" [feedback]="false" styleClass="w-full" inputStyleClass="w-full"/>
          </div>
        </div>

      </div>

    </div>

    <ng-template #footer>
      <div class="flex flex-row gap-2 justify-content-end" style="width: 100%">
        <p-button label="Cancelar" severity="danger" (click)="closeForm()"/>
        <p-button label="Salvar" severity="success" [disabled]="form.invalid" (click)="save()"/>
      </div>
    </ng-template>
  </p-card>
</modal>
